page-about {

}

.masters {
  background-color: #ffffff;
}
.scroll {
  height: 100%
}

// #logo {
//     position:absolute;
//     width:100%;
//     height:100%;
// }
#logo {
    display: block;
    margin-left: 29%;
    width: 100%;
}

#editors {
  color: #32db64;
  font-family: 'Roboto';
  text-align: center;
}
